* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#container_div {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #fff;
    margin: auto;
    top: 20%;
    padding: 15px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type="password"]:focus {
    background-color: #e6e6e6;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF898E;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background-color: #008F5A;
}

.background-image {
    background-image: url("/giftXchange/images/xmas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}